body {
  background-color: #ECF0F1;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'DM Mono', monospace;
  color: white;
}

#container-calculator {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(7, 100px);
  grid-gap: 10px;
  background-color: #252525;
  box-shadow: 0px 0px 50px rgb(0,0,0,0.6);
  margin-top: 20vh;
  padding: 75px;
  border-radius: 10px;
}

#container-display {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  padding-right: 37px;
  border-bottom: 1px solid #ECF0F1;
}

#primary-display {
  font-weight: normal;
  font-size: 4.5em;
  text-align: right;
  margin-block-end: 0px;
  margin-block-start: 40px;
}

#secondary-display {
  text-align: right;
  margin-block-start: 0px;
  color: #ffffff80;
  padding-right: 7px;
}

input[type=button] {
  width: 100%;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background-color: transparent;
  border-radius: 5px;
  font-weight: normal;
  border: none;
}

.number {
  font-size: 1.4em;
  color: #ffffff80;
}

.operator {
  font-size: 2.2em;
  color: #2A98DB;
}

#clear {
  color: #FF544E;
  font-size: 1.4em;
}

#equal {
  color: white;
}

.modifier {
  font-size: 1.4em;
  color: #2A98DB;
}

#decimal {
  color: #ffffff80;
}

#backspace {
  color: #ffffff80;
}

input[type=button]:focus {
  outline: none;
}

input[type=button]:active {
  background-color: #ECF0F120;
  transform: scale(0.9);
}
